body {
  padding-top: 56px;
  background-color: black;
  color: white;
}
.row {
	font-size: 15px;
}
.none {
	list-style-type: none;
}
.card-body {
	background-color: #101010;
}
.btn-primary {
	background-color: #07478c;
}
.card {
	border-color: #383d41;
}
hr{ 
  height: 1px;
  color: white;
  background-color: white;
  border: none;
}
.button {
  background-color: #07478c;
  color: white;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid;
  border-radius: .25rem;
  border-color: #007bff;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s;
}
.button:hover{
  background-color: #007bff;
}