body {
  padding-top: 56px;
  background-color: black;
  color: white;
}
.row {
	font-size: 15px;
}
.none {
	list-style-type: none;
}
.card-body {
	background-color: #101010;
}
.btn-primary {
	background-color: #07478c;
}
.card {
	border-color: #383d41;
}
hr{ 
  height: 1px;
  color: white;
  background-color: white;
  border: none;
}