body {
	background-color: black;
	color: white;
}
.list1 {
	list-style-type: none;
}
.list2 {
	list-style-type: none;
}
.list3 {
	list-style-type: none;
}
.card-body {
	background-color: #101010;
}
.btn-primary {
	background-color: #07478c;
}
.card {
	border-color: #383d41;
}
hr{ 
  height: 1px;
  color: white;
  background-color: white;
  border: none;
}